.App {
  max-width: 1000px;
  margin: auto;
}

.main-form {
  margin: 20px;
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  gap: 5px;
}
.main-form > .group {
  display: contents;
}
.main-form label {
  grid-column: 1;
}
.main-form input {
  grid-column: 2;
}
.main-form .error {
  color: red;
  grid-column: 3;
}
.main-form .buttons {
  grid-column: 1/4;
}
